body {
	background: #444;
	color: #e1e1e1;
}

.board {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 1px solid #111;
	width: 320px;
	height: 320px;
	margin: auto;
	border-radius: 12px;
	box-shadow: 2px 2px #666, 3px 3px #eee;
	background: linear-gradient(-45deg, #111, #333);
}

.row {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center
}

.cell {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	border: 1px solid #000;
	box-shadow: -1px -1px #eee, 1px 1px #111;
	border-radius: 12px;

	overflow: hidden;
}

.cell::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: #222;
}

.cell.pressed {
	box-shadow: -1px -1px #222;
}

.cell.pressed::after {
	background: transparent;
}

.App {
  text-align: center;
}

section.players {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 320px;
	margin: 20px auto;

	background: #111;

	box-shadow: 2px 2px #222;
	border-radius: 12px;
}

.user-card {
	width: 40%;
	height: 100%;
	padding: 12px;

	background: #222;

	border: 1px solid #666;
	border-radius: 12px;
	box-sizing: border-box;
}

.card-divider {
	height: 1px;
	width: 100%;
	margin-bottom: 20px;
	background: #666;
}

/* TODO: properly center this absolute item */
.vs-panel {
	position: absolute;
	left: calc(50% - 15px);
	top: calc(50% - 35px);
	transform: rotate(-15deg);
}
